.container {
  display: grid;
  grid-template-columns: auto;
  width: 50%;
  height: 500px;
  transform: translate(50%, 10%);
  border: 1px solid black;
  border-radius: 4px;
}

.digits {
  display: grid;
  grid-template-columns: auto auto auto;
}

.digit {
  padding: 20px;
  text-align: center;
  font-size: 22px;
  border: 1px solid black;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(76, 88, 88);
  border: 1px solid black;
  color: aliceblue;
  font-size: 26px;
  padding: 20px;
}

.digit-operator {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.operator {
  display: grid;
  grid-template-columns: auto;
}

.operator > .digit {
  background: rgb(230, 198, 21);
}

.digit-zero {
  font-size: 22px;
  grid-column: 1/ span 2;
}
