body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px 30px;
  background-color: rgb(234, 240, 243);
}

.calculator-page {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.container {
  display: grid;
  grid-template-columns: auto;
  width: 50%;
  height: 500px;
  border: 1px solid black;
  border-radius: 8px;
}

.digits {
  display: grid;
  grid-template-columns: auto auto auto;
}

.digit {
  padding: 20px;
  text-align: center;
  font-size: 22px;
  border: 1px solid black;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(76, 88, 88);
  border: 1px solid black;
  color: aliceblue;
  font-size: 26px;
  padding: 20px;
}

.digit-operator {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.operator {
  display: grid;
  grid-template-columns: auto;
}

.operator > .digit {
  background: rgb(230, 198, 21);
}

.digit-zero {
  font-size: 22px;
  grid-column: 1/ span 2;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  list-style-type: none;
}

.nav-items {
  font-size: 22px;
}

.head-link {
  text-decoration: none;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(20px, 30px);
}

.home-para {
  font-size: 24px;
}

.quote {
  font-size: 28px;
  transform: translate(60px, 60px);
}
